@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --font-rubik: "Rubik Mono One", monospace;
}

@layer utilities {
  html, body {
    @apply overflow-x-hidden;
  }

  .pause {
    animation-play-state: paused !important;
  }

  .parallax {
    pointer-events: none;
  }

  .filter {
    @apply before:content-[''] before:absolute before:inset-0 before:shadow-[inset_0_0_8px_1px_rgba(255,255,255,0.3)];
  }
}

.custom-scroll-container::-webkit-scrollbar {
  display: none;
}

.custom-scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
